:root {
    --main-bg-color: #BFF47B;
    --secondary-bg-color: #FFFFFF;
    --main-stroke-color: #000000;
    --secondary-stroke-color: #EEEEEE;
    --main-font-family: "Lexend Deca", "Arial", sans-serif;
}
html, html * {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    font: 1em var(--main-font-family);
    color: var(--main-stroke-color);
    line-height: 1;
    background-color: var(--main-bg-color);
}
#container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
    min-height: 100vh;
    max-width: 48em;
}
#container > * {
    box-sizing: border-box;
    width: 100%;
    border: 0.25em solid var(--main-stroke-color);
    border-bottom-width: 0.5em;
    border-radius: 0.5em 0.5em 0.75em 0.75em;
    background-color: var(--secondary-bg-color);
}
#container  > *:not(:last-child) {
    margin-bottom: 1em;
}
#header {
    padding: 0 1em;
}
#main {
    flex-grow: 1;
}
#main, #footer {
    padding: 1em;
}
#header-content {
    padding: 1em 0;
    overflow-x: auto;
}
#header-content h1 {
    font-size: 1.75em;
    font-weight: 700;
}
#header-content p {
    margin-top: 0.5em;
    padding-top: 0.5em;
    border-top: 0.25em solid var(--main-stroke-color);
    font-weight: 700;
}
#footer {
    text-align: center;
}
#footer p {
    font-weight: 700;
}
ul, li {
    list-style: none;
}
li > ul {
    margin-left: 3em;
}
.display {
    display: block;
}
.hide {
    display: none;
}
.file, .folder {
    display: flex;
    align-items: center;
    padding: 0.5em;
    white-space: nowrap;
    overflow-x: auto;
    border-bottom: 0.25em solid var(--secondary-stroke-color);
}
.info {
    display: flex;
    flex-grow: 1;
    align-items: center;
    font-weight: 700;
}
.info a {
    width: 100%;
    color: var(--main-stroke-color);
    text-decoration: none;
}
.info a:hover, .accordion:hover {
    cursor: pointer;
    opacity: 60%;
}
.info::before {
    display: block;
    height: 2.5em;
    width: 2.5em;
    flex-shrink: 0;
    margin-right: 0.5em;
}
.file .info::before {
    /* Stroke color: #4B9CD3 / rgb(75, 156, 211) */
    content: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 9V17.8C19 18.9201 19 19.4802 18.782 19.908C18.5903 20.2843 18.2843 20.5903 17.908 20.782C17.4802 21 16.9201 21 15.8 21H8.2C7.07989 21 6.51984 21 6.09202 20.782C5.71569 20.5903 5.40973 20.2843 5.21799 19.908C5 19.4802 5 18.9201 5 17.8V6.2C5 5.07989 5 4.51984 5.21799 4.09202C5.40973 3.71569 5.71569 3.40973 6.09202 3.21799C6.51984 3 7.0799 3 8.2 3H13M19 9L13 3M19 9H14C13.4477 9 13 8.55228 13 8V3' stroke='rgb(75, 156, 211)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.folder .info::before {
    /* Stroke color: #F5D220 / rgb(245, 210, 32) */
    content: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 8.2C3 7.07989 3 6.51984 3.21799 6.09202C3.40973 5.71569 3.71569 5.40973 4.09202 5.21799C4.51984 5 5.0799 5 6.2 5H9.67452C10.1637 5 10.4083 5 10.6385 5.05526C10.8425 5.10425 11.0376 5.18506 11.2166 5.29472C11.4184 5.4184 11.5914 5.59135 11.9373 5.93726L12.0627 6.06274C12.4086 6.40865 12.5816 6.5816 12.7834 6.70528C12.9624 6.81494 13.1575 6.89575 13.3615 6.94474C13.5917 7 13.8363 7 14.3255 7H17.8C18.9201 7 19.4802 7 19.908 7.21799C20.2843 7.40973 20.5903 7.71569 20.782 8.09202C21 8.51984 21 9.0799 21 10.2V15.8C21 16.9201 21 17.4802 20.782 17.908C20.5903 18.2843 20.2843 18.5903 19.908 18.782C19.4802 19 18.9201 19 17.8 19H6.2C5.07989 19 4.51984 19 4.09202 18.782C3.71569 18.5903 3.40973 18.2843 3.21799 17.908C3 17.4802 3 16.9201 3 15.8V8.2Z' stroke='rgb(245, 210, 32)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.accordion {
    display: block;
    box-sizing: border-box;
    height: 2.5em;
    width: 2.5em;
    margin-left: 1em;
    flex-shrink: 0;
    border: 0.25em solid var(--main-stroke-color);
    border-radius: 0.5em;
    background: none;
}
.accordion svg {
    display: block;
    stroke: var(--main-stroke-color);
    height: 100%;
    width: 100%;
}